<html lang='en'>

	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Blog about nothing</title>
		<link rel='stylesheet' href='/css/jass.css' />
	</head>

	<body>

		<nav>
			<ul>
				
				<li class='li-inline nav-item'><a href='/'>Homepage</a></li>
				{{#if logged_in}}
					
					<li class='li-inline nav-item'><a href='/dashboard'>Dashboard</a></li>
					<li class='li-inline nav-item'><a
							href='#'
							class='btn'
							id='logout'
						>Log out here</a></li>
				{{else}}
					
					<li class='li-inline nav-item'><a href='/login'>Login</a></li>
				{{/if}}
			</ul>
		</nav>

		<header class='display-flex justify-space-between align-center p-2'>
			<h1>
				Blog about nothing
			</h1>
		</header>

		<main>
			{{{body}}}
		</main>

		<footer>
			<a href='/dashboard/new'>Create a post here</a>
		</footer>

	</body>
</html>

<script src='/js/logout.js'></script>